
<header>
    <h1>Розробник сайту</h1>
</header>

<section>
    <h2>Developer info</h2>
    <p><strong>Name:</strong>Ostap Melnyk</p>
    <p><strong>Group:</strong>PMI-34</p>
    <p><strong>Email:</strong> 79otap@ukr.net</p>
</section>

<footer>
    2024 Розробник сайту
</footer>


<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        margin: 20px;
    }

    header {
        text-align: center;
        padding: 20px;
        background-color: #333;
        color: #fff;
    }

    section {
        margin: 20px;
    }

    h2 {
        color: #333;
    }

    p {
        line-height: 1.5;
    }

    footer {
        text-align: center;
        padding: 10px;
        background-color: #333;
        color: #fff;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
</style>